.close-btn {
  position: absolute;

  top: 14px;
  left: 14px;

  border: none;
  background: #777;

  width: 32px;
  height: 32px;

  border-radius: 6px;

  color: white;
  font-size: 18px;

  cursor: pointer;
}